@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    font: roboto;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    list-style-type: none;
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;

}

a{
    text-decoration: none;
    color: #e5e7eb;
}

ul{
    list-style-type: none;
}
.top{
    text-decoration: none;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;

}

.top-links{
    display: flex;
    margin: 0%;
    gap: 20px;
    font: Roboto;
}
.first{
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
    gap: 70px;
    
}
.first-content{
    max-width: 450px;
}
.first-title{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.first-text{
    font-size: 16px;
    color:#e5e7eb;
    padding-bottom: 10px;
}

button{
    background-color: #3882F6;
    color: white;
    border: 0px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 16px;
}
.image{
    background-color: #6c727b;
    color: white;
    padding: 100px;
    width: 600px;
    text-align: center;.
    text-justify: center
    ;
}
.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:100px;
}
.second-title{
    padding-bottom: 50px;
    font-size:36px;
    font-weight: bolder;
    color: #1F2937;
}
.second-content{
    display: flex;
    flex-direction: row;
    width: 1000px;
    gap: 50px;
    justify-content: center;
}
.description{
    max-width: 150px;
    text-align: center;
    color:#6c727b;
}
.border{
    border:4px solid blue;
    border-radius: 20px;
    border-color: #3882F6;
    width: 150px;
    height: 150px;  
    margin-bottom: 10px;
}
.third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    height: 400px;
}
.third-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:#1F2937;
    padding-left: 300px;
    padding-right: 300px;
}
.third-text-author{
    display: flex;
    justify-content: flex-end;
    color:#1F2937;
    font-size: 24px;
    padding-right: 300px;
}
.footer{
    display: flex;
    margin: 150px;
    justify-content: center;
    align-items: center;
}
.popup{
    background-color: #3882F6;
    height: 125px;
    width: 800px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.popup-text{
    color:#e5e7eb;
}
.popup-header{
    
}

.bottom{
    display: flex;
    flex: 1;
}